.container {
    --num-cols: 3;
    --gap-horizontal: 128px;
    --gap-vertical: 64px;

    box-sizing: border-box;
    padding: calc(var(--gap-horizontal)/2);
    display: inline-block;
    columns: var(--num-cols);
    column-gap: var(--gap-horizontal);
    column-fill: balance;
}

.container > * {
    break-inside: avoid;
    margin-bottom: var(--gap-vertical);
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .container {
        --num-cols: 1;
        --row-height: auto;
    }
}